openapi: 3.0.3
info:
  title: Extensis Portfolio Assets Catalogs API
  version: 1.0.0
  description: Extensis Portfolio REST API for digital asset management, including catalog management, asset metadata, and file operations.
  x-jentic-source-url: https://www.extensis.com/support/developers
  contact: {}
servers:
- url: https://portfolio.extensis.com/api/v1
security:
- apiKey: []
tags:
- name: Catalogs
paths:
  /catalogs:
    get:
      operationId: listCatalogs
      summary: List catalogs
      tags:
      - Catalogs
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogList'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      description: List catalogs
components:
  schemas:
    CatalogList:
      type: object
      properties:
        catalogs:
          type: array
          items:
            type: object
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - error
        code:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
