openapi: 3.0.3
info:
  title: Extensis Portfolio Assets Search API
  version: 1.0.0
  description: Extensis Portfolio REST API for digital asset management, including catalog management, asset metadata, and file operations.
  x-jentic-source-url: https://www.extensis.com/support/developers
  contact: {}
servers:
- url: https://portfolio.extensis.com/api/v1
security:
- apiKey: []
tags:
- name: Search
paths:
  /catalogs/{catalog_id}/search:
    post:
      operationId: searchAssets
      summary: Search assets
      tags:
      - Search
      parameters:
      - name: catalog_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetList'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      description: Search assets
components:
  schemas:
    Asset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        metadata:
          type: object
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - error
        code:
          type: string
        message:
          type: string
    AssetList:
      type: object
      properties:
        assets:
          type: array
          items:
            $ref: '#/components/schemas/Asset'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
